@model IEnumerable<Rain51.Controllers.Novice>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Index.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.datum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.avtor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.besedilo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.datum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.avtor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.besedilo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NoviceId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NoviceId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NoviceId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
